<section>
    <div class="flex text-center">
        <h1 class="h3 mb-3 font-weight-bold "> NodeJs Chat!</h1>

        <span class="text-secondary"> Historial:</span>
        <div class="container_history" id="messages">

        </div>

        <div class="container_chat">
            <h3 class="text-center">Escribe tu mensaje:</h3>
            <div class="flex">
                <div class="chat">
                    <form id="data_user" class="">

                        <label for="user">
                    <input id="user" type="text" placeholder="Ingresa tu Nombre" required class="text">
                </label>

                        <label for="message">
                    <input id="message" type="text" placeholder="Ingresa tu mensaje" required class="text">
                </label>

                        <input type="submit">
                    </form>

                </div>

            </div>
        </div>
    </div>
</section>