<div class="container ">
    <div class="row">
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <a type='button' class='m-5 btn btn-secondary' href="/app/productos">Vista</a>
                <a type='button' class='m-5 btn btn-secondary' href="/app/uploadProducts">Carga</a>
            </div>
        </div>
    </div>
</div>